@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
  font-weight: 400; /* Adjust to suit your design */
  font-style: normal; /* Adjust to suit your design */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 700; /* Adjust to suit your design */
}

code, pre {
  font-family: var(--font-mono);
  font-weight: 400; /* Adjust to suit your design */
}

.clerk-wrapper {
  border: 2px solid #0E78F9; /* Blue border color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Optional: rounded corners */
  background-color: black; /* Ensures the background matches */
}

/* styles.css or in your global.css file */
.invert-on-dark {
transition: filter 0.3s ease;
}

/* Tailwind uses dark: to apply styles in dark mode */
.dark .invert-on-dark {
filter: invert(1);
}


/* Add this to your global CSS file or a specific module CSS file */
@keyframes scroll-text {
0% {
  transform: translateX(100%);
}
100% {
  transform: translateX(-100%);
}
}

.animated-text {
position: absolute;
white-space: nowrap;
overflow: hidden;
animation: scroll-text 15s linear infinite;
background: linear-gradient(to left, transparent, rgba(255, 2, 2, 0.87), transparent);
}

.animate-scroll-text {
display: flex;
animation: scroll-text 30s linear infinite;
}

.overflow-hidden {
overflow: hidden;
}

.flex {
display: flex;
}

.flex-shrink-0 {
flex-shrink: 0;
}

@keyframes scrollFeatures {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-features {
  display: flex; /* Ensure child elements are in a row */
  animation: scrollFeatures 30s linear infinite;
}


/* styles/globals.css or a CSS module */
.no-scroll {
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  .Toastify__toast {
    background: black !important; /* Dark mode background */
    color: #ddd !important; /* Dark mode text color */
  }
}

