@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans);
  font-weight: 400; /* Adjust to suit your design */
  font-style: normal; /* Adjust to suit your design */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 700; /* Adjust to suit your design */
}

code, pre {
  font-family: var(--font-mono);
  font-weight: 400; /* Adjust to suit your design */
}

.clerk-wrapper {
  border: 2px solid #0E78F9; /* Blue border color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Optional: rounded corners */
  background-color: black; /* Ensures the background matches */
}

/* styles.css or in your global.css file */
.invert-on-dark {
transition: filter 0.3s ease;
}

/* Tailwind uses dark: to apply styles in dark mode */
.dark .invert-on-dark {
filter: invert(1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.6;
  }
}


/* Add this to your global CSS file or a specific module CSS file */
@keyframes scroll-text {
0% {
  transform: translateX(100%);
}
100% {
  transform: translateX(-100%);
}
}

.animated-text {
position: absolute;
white-space: nowrap;
overflow: hidden;
animation: scroll-text 15s linear infinite;
background: linear-gradient(to left, transparent, rgba(255, 2, 2, 0.87), transparent);
}

.animate-scroll-text {
display: flex;
animation: scroll-text 30s linear infinite;
}

.overflow-hidden {
overflow: hidden;
}

.flex {
display: flex;
}

.flex-shrink-0 {
flex-shrink: 0;
}

@keyframes scrollFeatures {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-features {
  display: flex; /* Ensure child elements are in a row */
  animation: scrollFeatures 30s linear infinite;
}


/* styles/globals.css or a CSS module */
.no-scroll {
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  .Toastify__toast {
    background: black !important; /* Dark mode background */
    color: #ddd !important; 
  }
}

.navbar-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #333;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar-link:hover {
  color: #0070f3;
}

.navbar-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar-link:hover::after {
  background-color: #0070f3; 
}

.navbar-link.active::after {
  background-color: #0070f3;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}


/* global styles */
.Toastify__toast {
  @apply bg-dark-1 text-white; /* Use Tailwind classes for background and text colors */
}

.Toastify__toast--info {
  @apply bg-dark-1 text-white;
}

.Toastify__toast--success {
  @apply bg-dark-1 text-white;
}

.Toastify__toast--warning {
  @apply bg-dark-1 text-white;
}

.Toastify__toast--error {
  @apply bg-dark-1 text-white;
}

.Toastify__progress-bar {
  @apply bg-white; /* Customize progress bar if needed */
}